[submodule "lib/es5-shim"]
	path = lib/es5-shim
	url = https://github.com/kriskowal/es5-shim/
[submodule "lib/classList.js"]
	path = lib/classList.js
	url = https://github.com/eligrey/classList.js
[submodule "lib/EventListener"]
	path = lib/EventListener
	url = https://github.com/jonathantneal/EventListener
[submodule "ie8"]
	path = ie8
	url = https://github.com/WebReflection/ie8
[submodule "lib/ie8"]
	path = lib/ie8
	url = https://github.com/WebReflection/ie8
