html { font-family: sans-serif; line-height: 1.25em }
dl, p, blockquote, ol, ul, pre, address { margin-top: 0.625em; margin-bottom: 0.625em }
dt { margin-top: 0.625em; }
table { border-collapse: collapse }
th, td, caption { padding: 0.25em }
th, td { border-style: solid; border-width: 1px; }
/* TODO headings */

